@use "base";

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: fit-content;
  direction: rtl;
  background: linear-gradient(rgba(238,250,244,1) 0%, rgba(199,242,218,1) 50%, rgba(170,242,201,1) 100%);
}

/////////////////////////////////////////////////////////////// header

.headerNavbar {
  margin: 40px 20px;

  @media (width <= 500px) {
    margin: 10px 5px;
  }

  .headerNavbarTitle {
    font-weight: bold;
    font-size: 26px;

    @media (width <= 500px) {
      font-size: 20px;
    }
  }

  a {
    width: max-content;
  }

  .headerNavbarAssistant {
    margin-left: 10px;
    margin-right: 10px;
  }
}

///////////////////////////////////////////////////// footer

.footer {
  z-index: 10;
  background-color: base.$primary-color-03;
  padding: 15px;

  @media (width <= 500px) {
    font-size: 10px;
  }
}

///////////////////////////////////////////////////// Posts carousel

.carouselImage {
  width: 100%;
  height: 700px;
  object-fit: cover;
  // padding: 5px 10%;
  
  @media (width <= 500px) {
    height: 200px;
    // padding: 5px;
  }
}

.carouselCaption {
  color: #111;
  background-color: hsla(0, 0%, 100%, 0.8);
  padding: 10px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 20px;
  
  @media (width <= 500px) {
    font-size: 10px;
    border-radius: 10px;
    padding: 5px;
  }
}

/////////////////////////////////////////////////////////////////// not found

.notFound {
  padding-top: 50px;
  text-align: center;
  height: 100vh;
  font-size: 25px;
  font-weight: bold;
  color: #111;

  @media (width <= 500px) {
    font-size: 18px;
  }

  p {
    padding-top: 10px;
    color: #f00;
    font-size: 22px;

    @media (width <= 500px) {
      font-size: 15px;
    }
  }
}

///////////////////////////////////////////////////// signup

.signUpContainer {
  direction: ltr;
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  height: 100vh;

  img {
    background-color: base.$primary-color-03;
    border-radius: 50%;
    padding: 5px;
    border: 5px solid base.$primary-color-03;
  }

  .signUpPathCard {
    padding: 20px;
  }

  .signUpPath {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signUpPathLine {
    height: 5px;
    width: 100px;
    background-color: base.$primary-color-03;
  }

  .goneLine {
    background-color: base.$primary-color;
  }

  .goneImg {
    border: 5px solid base.$primary-color;
  }

  .current {
    border: 5px solid #111;
  }

  .signUpBody {
    width: 40%;
    margin: 50px auto;
    padding: 25px;
    direction: rtl;

    .signUpFormContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .radioChoice {
        width: fit-content;
      }
    }

    p {
      text-align: center;
      padding: 20px;
      font-size: 25px;
    }
  }

  h2 {
    text-align: center;
    padding: 10px;
  }

  .btnContainer {
    display: flex;
  }

  .SignUpSubmitBtn {
    width: 50%;
    margin: 5px auto;
    background-color: base.$primary-color;
    color: #111;
    font-weight: bold;
    border: none;
  }

  .SignUpSubmitBtn:hover {
    background-color: base.$primary-color-07;
    color: #111;
  }

}

///////////////////////////////////////////////// author carousel 
 

.authorCarouselContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 100px;
  margin-bottom: 100px;
  padding: 50px;

  h3 {
    padding: 25px;
  }

  .authorsContainer {
    width: 80%;
    margin: 10px auto;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #dff;
    border: 2px solid base.$primary-color-03;
    border-radius: 15px;
    padding: 10px;
    position: relative;

    svg {
      cursor: pointer;
      background-color: base.$primary-color-03;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    svg:hover {
      background-color: base.$primary-color-07;
    }

    .leftArrow {
      transform: rotate(180deg);
      position: absolute;
      left: 0;
    }

    .rightArrow {
      position: absolute;
      right: 0;
    }
    
    .eachAuthorCarousel {
      background-color: base.$primary-color-03;
      width: 275px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      gap: 20px;
      padding-bottom: 20px;
  
      img {
        object-fit: cover;
        background-position: center;
        border-radius: 50%;
        margin: 40px;
      }

      h4 {
        margin-top: 20px;
        margin-bottom: 10px;
      }

      h5 {
        margin-bottom: 30px;
      }
    }
  }

}